@use "./base.scss";

// put your custom CSS here!
:root body {
    background-image: url('/static/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.article-title {
  font-family: 'STIX Two Text', 'Noto Serif JP', serif;
}
.page-title {
    margin-bottom: 2rem;
    .title-container {
        // PageTitle.tsx 内の基本スタイルを補完・上書きする場合に記述
        &:hover {
            opacity: 0.8;
        }
    }
}

.sidebar {
    backdrop-filter: blur(2px);
    background-color: color-mix(in srgb, var(--light), transparent 20%);
}

/* テーマ切り替えスイッチを隠す */
.darkmode {
    display: none !important;
}

/*
@media all and (min-width: 800px) {

    .sidebar.left {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: linear-gradient(to bottom, transparent, var(--gray), transparent);
        }
    }

    .sidebar.right {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: linear-gradient(to bottom, transparent, var(--gray), transparent);
        }
    }
}
*/